/* The css and the base pages are all from Yoga Studio but is modified in my own way to show my website. */


/* form styling section */
form{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    width: 80%;
    margin-bottom: .5em;
}
input,textarea{
    margin-bottom: .5em;
}
form button{
    padding: .5em;
}
/* Table styling section */
table{
    width: 60%;
    border: 1px solid #3f2860;
    border-collapse: collapse;
    margin-bottom:1em;
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 5px;
    border: 1px solid #3f2860;
}
th{
    padding: 5px;
    border:  1px solid #3f2860;
}
caption{
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
}
/* alternating color scheme */
tr:nth-of-type(even){
    /* applies to the even tr of the table */
    background-color: #D8E8E9;
}

/* full screen */
@media(min-width:1024px){
form{
    width:60%;
    display: grid;
    grid-template-columns: 12em 1fr;
    grid-template-rows: auto;
    grid-gap: 1em;
}
label{
    text-align: right;
}
button[submit]{
    grid-column: 2;
    width: 9em;
}
body{
    margin:0;
    background-color: #3f2860;
    color: #40407a;         /*Text color*/
    font-family: Verdana, Arial, sans-serif;
}

header{
    background-image: url("images/penguin2.jpg");
    /* https://stock.adobe.com/search?k=penguin+background */
    background-size: 80% 80%;     /* stretch the image to 100% of the parent screen */
    color:#FFF;
    font-size:120%;
    margin-top: 50px;
    text-align: right;
    height: 200px;
}

/* applying style to  the nav section */
header a:link{text-decoration: none; display: block; color:#FFF;}
header a:visited{text-decoration: none; display: block; color:#FFF;}
header a:hover{text-decoration: none; display: block; color: #edf5f5;}

h1{
    line-height:200%;
    /* padding-top: 50px; */
    padding-right: 2em;
    text-align: center;
    font-size:400%;
}
mark {
    background-color: rgba(54, 65, 88, 0.26);
    color:rgb(255, 255, 255) ;
  }
h2{
    font-size:200%;
}

nav{
    position:fixed;
    top:0;
    left:0;
    text-align: right;
    background-color: #FFF;
    margin:0;
    padding-right:0;
    padding:.5em;
    width:100%;
    z-index:9999;
}
nav a{    /*this is for the a tags in the nav tag*/
    display:block;
    text-decoration: none;
}
nav a:link { color: #3F2860; }
nav a:visited { color: #497777; }
nav a:hover { color: #A26100;}
nav ul{
    display:flex;
    flex-wrap:nowrap;
    justify-content:flex-end;
    margin:0;
    font-size:1.2em;
    list-style-type: none;
}
nav li{
    width:7em;
    padding: 0 1em 0 1em;
    display:inline;
}
footer{
    background-color: #f1e571;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    padding: 1em;
}

.studio{
    color: #40407a;
    font-style: italic;
}

img{
    padding-left: 1em; 
    padding-right: 1em;
}

#wrapper{
    padding: 2em;
    margin:auto;
    width:80%;
    background-color: #f5f5f5;
}
.home{
    height:50vh;
    padding-left: 8em;
    padding-top: 5em;
}
.content{
    height:40vh;
    padding-left: 8em;
    padding-top: 5em;
}

#samurai{
    background-image: url("images/samurai.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height:600px;
    width:500px;
    padding-bottom:1em;
    margin-left: 0;
    margin-right: auto;
}
#senior{
    background-image: url("images/senior.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height:600px;
    width:500px;
    padding-bottom:1em;
    margin-left: auto;
    margin-right: 0;
}

#logo{
    background-image: url("images/Logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height:300px;
    width:400px;
    padding-bottom:1em;
    margin-left: auto;
    margin-right: auto;
}
#usi{
    background-image: url("images/usi.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height:400px;
    width:400px;
    padding-bottom:5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
}
#python{
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-size: cover;
    display:block;
    height:400px;
    width:800px;
    padding-bottom:5em;
    margin-left: auto;
    margin-right: auto;
}

section{
    padding-left: 2em;
    padding-right: 2em;
}
#flow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#mobile{
    display:none;
}
#desktop{
    display:inline;
}
}

/* Half Screen can or tablet mode could work with max=width: 1024... */
@media(min-width:600px){
    form{
        width:90%;
        display: grid;
        grid-template-columns: 12em 1fr;
        grid-template-rows: auto;
        grid-gap: 1em;
    }
    label{
        text-align: right;
    }
    button[submit]{
        grid-column: 2;
        width: 9em;
    }
    body{
        margin:0;
        background-color: #2f567a;
        color: #40407a;        /*Text color*/
        font-family: Verdana, Arial, sans-serif;
    }
    
    header{
        background-image: url("images/penguin2.jpg");
        background-size: 100% 100%;     /* stretch the image to 100% of the parent screen */
        color:#FFF;
        font-size:90%;
        margin-top: 50px;
        text-align: right;
        height: 200px;

    }
    
    /* applying style to  the nav section */
    header a:link{text-decoration: none; display: block; color:#FFF;}
    header a:visited{text-decoration: none; display: block; color:#FFF;}
    header a:hover{text-decoration: none; display: block; color: #edf5f5;}
    
    h2{
        font-size:200%
    }
    
    nav{
        position:fixed;
        top:0;
        left:0;
        text-align: right;
        background-color: #FFF;
        margin:0;
        padding-right:0;
        padding:.5em;
        width:100%;
        z-index:9999;
    }
    nav a{    /*this is for the a tags in the nav tag*/
        display:block;
        text-decoration: none;
    }
    nav a:link { color: #3F2860; }
    nav a:visited { color: #497777; }
    nav a:hover { color: #A26100;}
    nav ul{
        display:flex;
        flex-wrap:nowrap;
        justify-content:flex-end;
        margin:0;
        font-size:1.2em;
        list-style-type: none;
    }
    nav li{
        width:7em;
        padding: 0 1em 0 1em;
    }
    footer{
        font-size: .60em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }
    
    .studio{
        color: #40407a;
        font-style: normal;
    }
    
    #wrapper{
        margin-top: 50px;
        padding: 2em;
        background-color: #f5f5f5;
    }
    .home{
        height:40vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    .content{
        height:40vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    section{
        padding-left: 2em;
        padding-right: 2em;
    }
    #flow{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #mobile{
        display:none;
    }
    #desktop{
        display:inline;
    }
        
}
    

/* mobile screen */
@media(max-width:600px){
    mark {
        background-color: rgba(54, 65, 88, 0.26);
        color:rgb(255, 255, 255) ;
      }
    body{
        margin:0;
        background-color: #2f567a;
        color: #40407a;         /*Text color*/
        font-family: Verdana, Arial, sans-serif;
    }
    
    header{
        background-image: url("images/penguin2.jpg");
        background-size: 100% 100%;     /* stretch the image to 100% of the parent screen */
        color:#FFF;
        font-size:90%;
        margin-top: 50px;
        text-align: left;
        height: 200px;
    }
    
    /* applying style to  the nav section */
    header a:link{text-decoration: none; display: block; color:#FFF;}
    header a:visited{text-decoration: none; display: block; color:#FFF;}
    header a:hover{text-decoration: none; display: block; color: #edf5f5;}
    
    /* h1{
        line-height:200%;
        padding-top: 50px;
        padding-right: 2em;
    } */
    h2{
        font-size:200%
    }
    
    nav{
        position:fixed;
        top:0;
        left:0;
        text-align: right;
        background-color: #FFF;
        margin:0;
        padding-right:0;
        padding:.5em;
        width:100%;
        z-index:9999;
    }
    nav a{    /*this is for the a tags in the nav tag*/
        display:block;
        text-decoration: none;
    }
    nav a:link { color: #3F2860; }
    nav a:visited { color: #497777; }
    nav a:hover { color: #A26100;}
    nav ul{
        display:flex;
        flex-wrap:wrap;
        justify-content:row;
        margin:0;
        font-size:1.2em;
        list-style-type: none;
    }
    nav li{
        width:40%;
        padding: 0 1em 0 1em;
        display:inline;
    }
    footer{
        font-size: .60em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        background-color: #f1e571;
    }
    
    .studio{
        color: #40407a;
        font-style: normal;
    }

    #wrapper{
        padding: 2em;
        background-color: #f5f5f5;
    }
    .home{
        height:20vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    .content{
        height:20vh;
        padding-left: 10%;
        padding-top: 2em;
    }
    section{
        padding-left: .5em;
        padding-right: .5em;
    }
    #flow{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    #mobile{    /*changing visibility */
        display:inline;
    }
    #desktop{   /*changing visibility */
        display:none;
    }  
    }
/*global property or global var */
* {box-sizing: border-box;}